* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 background-color: #ccac93;
}

/* Header Section */

#header {
 width: 100%;
 padding: 10px;
 background: linear-gradient(rgba(0,0,0, 0.5), rgba(0, 0, 0, 0.5));
 background-size: cover;
 background-repeat: no-repeat;
}
.nav_bar {
 width: 100%;
 background-color: transparent;
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: fixed;
 z-index: 3;

}
#overlay ul{
 display: flex;
 justify-content: right;
 padding-right: 60px;
 gap: 40px;
 align-items: center;
 padding: 20px;
}
#overlay > div {
 display: flex;
 padding: 10% 0;
 align-items: center;
 flex-direction: row;
}

#overlay a {
 white-space: nowrap;
 text-decoration: none;
 color: #fafafa;
 font-size: clamp(0.2rem, 20vw, 2rem);
 margin: 3% 0;
 text-align: center;
 transition: opacity 0.2s linear;
 display: inline;
 position: relative;
}
#overlay a:hover {
  transform: scaleX(1);
}
.logo,
#hamburger {
margin: 0;
}
#hamburger {
  cursor: pointer;
  transition: opacity 0.25s linear;
  width: clamp(1.5rem, 2vw + 1.1rem, 6rem);
  height: clamp(2rem, 1.4vw + 1.7rem, 5rem);
  display: flex;
  align-items: center;
}

@media (min-width:280px) and (max-width: 767px){
  #overlay ul{
    display:revert;
  }
}  
  
body {
    background-color: #ccac93;
}

.sign-up {
    width: 80%;
    margin: auto;
}

label,
input {
    padding: 5px 0;
    margin: 5px 15px;
}

label {
    width: 12vw;
}

.name-center {
    display: inline-block;

}

.pasw-center {
    display: inline-block;
}

/* #email-inp {
    display: flex;
    /* width: fit-content; 
} */

.for-flex {
    display: flex;
}

.for-flex label {
    flex-grow: 1;
}

.for-flex input {
    flex-grow: 9;
}
.my-btn{
 width:6rem;
 height: 3rem;
}

#project-footer{
    background-color:#665649;
    font-family: sans-serif;
    color:white;
    margin-top: 50px;
}

#project-footer h1{
    font-size: 30px;
    margin: 25px 0px;
}

#project-footer p{
    margin:0;
    font-size:18px;

}

.column-options{
    /* border:2px solid white; */
    text-align: center;
    margin-bottom :25px;
}

.image {
    height: 10vh;
    width: 20vh;
    margin: 0;
    padding:0;
    margin-top: 80px;
}


.column-options a{
    text-decoration: none;
    color: rgb(243, 103, 126);
}

.column-options a:hover{
    text-decoration: none;
    color:white;
}
